@font-face {
    font-family: 'Arimo-Regular';
    src: url('../Fonts/Arimo-Regular.eot') format('embedded-opentype'), url('../Fonts/Arimo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'trashimclm-bold-webfont';
    src: url('../Fonts/trashimclm-bold-webfont.ttf') format('truetype');
}

html: {
overflow-x: hidden
} 

body {
    direction: rtl;
}

.m-bt {
    margin-bottom:15px;
}

.m-top15 {
    margin-top:15px;
}

.bold {
    font-weight:bold;
}


header {
    background-color: white;
    width: 100%;
    height: 50px;
    font-size: 150%;
    z-index: 0;
    padding: 5px;
}

header a img {
    width:100px;
    height:auto;
}


    header a img:hover {
     transform: scale(1.1);
    }

    header h1 {
        font-family: trashimclm-bold-webfont;
        font-size: 115%;
        color: #4A321B;
        justify-content:center;
        align-items:center;
        margin:0 auto;
    }

    header h1 span {
            font-family: Arimo-Regular;
            font-size: 80%;
            color: #4A321B
    }



/* תחילת תפריט המבורגר*/
#hamburgermenu {
    display: block;
    position: relative;
    top: 20px;
    left: 30px;
    z-index: 1;
}

    #hamburgermenu a {
        text-decoration: none;
        color: #4A321B;
        font-family: Arimo-Regular;
        transition: color 0.3s ease;
    }

        #hamburgermenu a:hover {
            color: #82C45A;
        }


    #hamburgermenu input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    /*הספאנים הם הפסים של ההמוברגר עצמו*/
    #hamburgermenu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #4A321B;
        border-radius: 4px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #hamburgermenu span:first-child {
            transform-origin: 0% 0%;
        }

        #hamburgermenu span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    #hamburgermenu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #4A321B;
    }

        #hamburgermenu input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }


        #hamburgermenu input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

/*הרקע הירוק של התפריט*/
#menu {
    display: none;
    position: absolute;
    left: 1px;
    width: 210px;
    margin: -150px 0 0 -50px;
    padding: 15px;
    padding-top: 102px;
    background: #e4f2db;
    border: solid 2px #4A321B;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /*על דיספליי נונ לא רואים אותו ובלי הדיספליי נונ התפריט מוצג בצד הדף 
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
}

    #menu li {
        padding: 5px 0;
        font-size: 22px;
    }

#hamburgermenu input:checked ~ ul {
    display: block;
}


/*סוף תפריט המבורגר*/


#main-container {
    display:flex;
    flex-flow:column nowrap;

}

/*תפריט צד*/

#sidebar ul {
    background-color: #e4f2db;
    width: 105px;
    height: 285px;
    border: 2px solid #4A321B;
    border-radius:7px;
}
#sidebar nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top:120px;
    right:5px;
}

#sidebar nav ul li a {
    display: flex;
    background-color: #CDA176;
    color: black;
    font-family: trashimclm-bold-webfont;
    width: 90px;
    height: 50px;
    padding-top:5px;
    text-decoration: none;
    text-align: center;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    margin-top: 12px;
    margin-right: 7px;
    box-shadow: 4px 6px 5px 0px rgba(74,50,28,1);
}

#sidebar nav ul li a:hover {
    transform:scale(1.08,1.08)
}
/*פירורי לחם*/
#breakcrumbs {
    padding-right: 115px;
    font-family: Arimo-Regular;
    background-color: white;
}

    #breakcrumbs ol {
        margin: 0;
    }

        #breakcrumbs ol li {
            display: inline-block;
        }

            #breakcrumbs ol li:after {
                content: ">";
            }

            #breakcrumbs ol li:last-child::after {
                content: "";
            }

            #breakcrumbs ol li a:link {
                color: #4A321B;
            }

            #breakcrumbs ol li a:visited {
                color: #4A321B;
            }

            #breakcrumbs ol li a:hover {
                font-weight: bold;
            }
/*סוף פירורי לחם*/



#Accessibility {
    position: fixed;
    background-color: #e4f2db;
    width: 40px;
    height: 40px;
    border: 2px solid #4A321B;
    border-radius: 7px;
    top:420px;
}

#Accessibility a img {
    width:35px;
    height:auto;
    padding:2px;
}
/*סוף תפריט צד*/

    #sub-container1 {
    background-image: url('../images/pet banner.jpg');
    background-repeat: no-repeat;
    background-size: 1280px 350px;
    background-position: center;
    background-color: #616061;
    text-align: center;
    width: 100%;
    height: 350px;
    justify-content: center;
}

#sub-container2 {
    width:100%;
    margin-right: 30px;
    color: #4A321B;
    font-family:Arimo-Regular;
    font-size:130%;
    align-items:center;
    justify-content:center;
}

#sub-container2 div p {
    padding-right:25%;
}

#sub-container2 div p span {
    font-family:trashimclm-bold-webfont;
    font-size:150%;
}


#sub-container2 div img {
    padding-left:25%;
    width:60%;
    height:auto;
}


.d-flex{
    display:flex;
}

.flex-col{
    flex-direction: column;
}

#title {
    font-family:trashimclm-bold-webfont;
    font-size:60px;
    color:white;
    margin:-10px 0 0 0;
}

#sub-title {
    font-family:Arimo-Regular;
    font-size:28px;
    color:white;
    margin:0 0 10px 0;
}

#subsub-title {
    font-family:Arimo-Regular;
    font-size:20px;
    color:white;
    margin-top:30px;
}


#animals {
    background-color: white;
    color: black;
    justify-content:center;
    align-items:center;
    padding:15px;
    width:85%;
}

h4 {
    margin: 0;
    width:70px;
}

.pettitle {
    font-family: trashimclm-bold-webfont;
    font-size: 210%;
    padding:5px;
    margin-right:20%;
    background-color: #CDA176;
    color:black;
    box-shadow: 4px 6px 5px 0px rgba(74,50,28,1);
}

.pet {
    justify-content:center;
    margin-right:15px;
}

.pet div {
    font-family: Arimo-Regular;
    font-size: 100%;
    margin:20px 95px 0 0;
    border-radius: 20px;
    padding: 20px;
    border:2px solid #2D4B1B;
    width:800px;
}


    .pet div summary:hover {
        box-shadow: 1px -7px 57px 4px rgba(255,255,255,1);
        border-radius:20px;
    }
    .pet div summary:focus {
        border: none;
        outline-color: #FAFAF2;
        outline-style:outset;
    }
#cat {
    background-color: #e4f2db;
}

#dog {
        background-color: #C6E4B4;
    }

#bunny {
        background-color: #A3D487;
    }

#other {
        background-color: #81C45A;
    }

.petfirstline {
    font-size:120%;
    margin-bottom:2px;
}

.end {
    font-family: Arimo-Regular;
    margin-right: 10%;
    color: #4A321B;
    font-weight:600;
    font-size:120%;
}

    .end a:link {
        color: #0C6733;
    }
    .end a:hover {
        color: #81C45A;
    }

    .end a:visited {
        color: #0C6733;
    }

    .notallowed {
        cursor:not-allowed;
    }
    footer {
        width: 100%;
        height: 20%;
        background-color: #616061;
        color: #E4F2DB;
        font-size: 120%;
        padding: 5px;
        text-align: center;
    }

    footer a:link {
        color: #E4F2DB;
        text-decoration:none;
    }

    footer a:visited {
        color: #BBDFA5;
    }

    footer a:hover {
        color:white;
    }

    footer a {
        margin-left:35px;
    }
